<html th:replace="~{layout :: layout(${title}, ~{::main})}">
    <head></head>

    <body>

        <main>
            <div class="container container-lg my-5">
                <div class="row">
                    <div class="col">
                        <h1>Memo</h1>
                        <p>Update</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <form method="post" th:action="@{/update/} + ${memo.id}">
                            <div class="mb-4">
                                <label for="title" class="form-label">Title</label>
                                <input class="form-control" th:value="${memo.title}" name="title" id="title" type="text" placeholder="Enter your title here" required />
                            </div>
                            <div class="mb-4">
                                <label for="content" class="form-label">Content</label>
                                <textarea class="form-control" th:text="${memo.content}" name="content" id="content" rows="10" placeholder="Enter your memo here" style="resize: none;" required ></textarea>
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary">update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </body>
</html>
